
body{
  background-color: #A7BA98;
}

.container{
  background-color: #F8F5F9;
  /*align-items: center;*/
}
#logo{

  /*margin: 5% 5%;*/
  display: flex;
  text-align: center;
  /*background-color: #7F879F;*/
  justify-content: center;
}

#name{
  background: #96CFDF;
  color: #7F879F;
  font-size: 200%;
  /*background-size: 30px;*/
  display: flex;
  border-radius: 90%;
}

#blog {

  /*width:100%;*/
}

#box-1{
  background-color: #96CFDF;
  text-align: center;
  display: inline-block;
}

#blogHeader{
  align-items: center;
  margin-top: 30%;
}

#box-2{
  background-color: #A7BA98;
}

.line{

  width: 100%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 1px;
}

/* Create four equal columns that sits next to each other */
.gallery {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 960px) {
  .gallery {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }